<h1>Users#show</h1>
<p>Find me in app/views/secrets/show.html.erb</p>

<h3>New Secrets</h3>
<form action="/secrets" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<textarea name="secret[content]" rows="8" cols="40"></textarea><br>
<input type="submit" value="submit">
</form>

<h2>Secrets</h2>
<% @secrets.each do |sec|%>
<p>-------------------------------</p>
<%= sec.content%>
<p>-------------------------------</p>

  <form action="/secrets/<%=sec.id%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit"value="delete">
  </form>

  <a><%= sec.likes.count %> likes</a>

<% end %>
