<h2>Secrets</h2>
<div>
<% @secrets.each do |sec|%><p>-------------------------------</p>
<%= sec.content%>

  <form action="/secrets/<%=sec.id%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit"value="delete">
  </form>

  <% if current_user.id && Like.find_by_user_id_and_secret_id(current_user.id, sec.id) == nil%>
  <form action="/likes" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="sec_id]" value="<%=sec.id%>">
    <input type="submit" value="like">
  </form>
  <% end%>

  <% if current_user.id && Like.find_by_user_id_and_secret_id(current_user.id, sec.id) != nil %>
  <form action="/likes/<%=sec.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="unlike">
  </form>
<% end %>

<a><%= sec.likes.count %> likes</a>
<% end %>
</div>
